h1{
    text-align: center;
    text-decoration: blue;
    color: blue;
}
p{
    text-align: center;
    
}
.form{
    text-align: center;
}
#subt{
    background-color: rgb(134, 134, 231);
    border-radius: 10px;
    color: antiquewhite;
}
.lowOrHi{
    background-color: blue;
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
#newGame{
    color:black;
    text-align: center;
    text-decoration: double;
    margin-left: 250px;
    margin-right: 250px;
    background-color: blueviolet;
    border-radius: 20px;
}
#newGame:hover{
    color:rgb(9, 1, 1);
    background-color: rgb(193, 193, 235);
    text-align: center;
    text-decoration: double;
    margin:0px,200px,0px,200px;
}